# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

# VsCode files
.vscode/

# Eclipse files
/.settings/
/.vscode/
/.project
/.buildpath

#Projeto FormDin5 com Adianti Template 7.4
**/app/config/framework_hashes.php

**/app/images/
/app/control/admin/**
**/app/control/admin/LoginForm.class.php
**/app/control/admin/SystemRegistrationForm.class.php
**/app/control/builder
**/app/control/communication
**/app/control/install
**/app/control/log
/app/control/public/PublicView.php
/app/control/public/PublicView.class.php
**/app/control/CommonPage.class.php
**/app/control/MessageList.class.php
**/app/control/NotificationList.class.php
**/app/control/SearchBox.class.php
**/app/control/SearchInputBox.class.php
**/app/control/WelcomeView.class.php

**/app/database/communication.sql
**/app/database/log-update.sql
**/app/database/log.sql
**/app/database/permission-update.sql
**/app/database/permission.asta
**/app/database/permission.sql
**/app/database/permission.xml
**/app/database/unit_a.db
**/app/database/unit_b.db


**/app/lib/barcode
**/app/lib/html
**/app/lib/include
**/app/lib/pdf
**/app/lib/menu
**/app/lib/reports
**/app/lib/util
**/app/lib/validator
app/lib/widget/TAccordion.class.php

**/app/model/admin
**/app/model/communication
**/app/model/log

**/app/output
**/app/reports

**/app/resources/build.html 
**/app/resources/c3_bar_chart.html
**/app/resources/c3_donut_chart.html
**/app/resources/c3_line_chart.html
**/app/resources/c3_pizza_chart.html
**/app/resources/checkbox.html
**/app/resources/google_bar_chart.html 
**/app/resources/google_column_chart.html 
**/app/resources/google_line_chart.html 
**/app/resources/google_pie_chart.html 
**/app/resources/info-box.html 
**/app/resources/learn.html 
**/app/resources/page_sample.html
**/app/resources/public.html
**/app/resources/styles-print.html
**/app/resources/system_access_notification.html
**/app/resources/system_admin_dashboard.html
**/app/resources/system_database_browser.html
**/app/resources/system_information.html
**/app/resources/system_input_fuse_search.html
**/app/resources/system_log_dashboard.html
**/app/resources/system_message_folders.html
**/app/resources/styles.css 
**/app/resources/sysgen-build.html 
**/app/resources/sysgen-gen00.html 
**/app/resources/sysgen-help.html 
**/app/resources/sysgen-learn.html 
**/app/resources/sysgen-template.html 
**/app/resources/sysgen.css 
**/app/resources/sysgen_dateformat_pt-br.html 
**/app/resources/sysgen_easylabel_pt-br.html 
**/app/resources/system_message_form_view.html
**/app/resources/system_notification_view.html
**/app/resources/system_profile.html
**/app/resources/system_reset_password.html
**/app/resources/system_welcome_en.html
**/app/resources/system_welcome_es.html
**/app/resources/system_welcome_pt.html


**/app/service/

**/app/templates/theme3/
**/app/templates/theme3_v5/
**/app/templates/theme3-adminlte3/
**/app/templates/theme4/
**/app/templates/theme4_v5/

**/files
lib/**

**/rest/request.php
**/rest/user-create.php
**/rest/user-delete.php
**/rest/user-get.php
**/rest/user-list.php
**/rest/user-update.php

**/tmp
**/vendor

**/cmd.php
**/crontab.php
**/download.php
**/htaccess-dist
**/rest-secure.php.dist
**/rest.php.dist
**/soap.php.dist