<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuitem label="Contato">
    <action>ContatoFormList</action>
    <icon>fas:phone-alt fa-fw #4CAF50</icon>
  </menuitem>
  <menuitem label="Mensagem">
    <action>MensagemForm</action>
    <icon>fas:comment fa-fw #2196F3</icon>
  </menuitem>
  <menuitem label="_t{Administration}">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemAdministrationDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Programs}">
        <action>SystemProgramList</action>
        <icon>far:file-code fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Groups}">
        <action>SystemGroupList</action>
        <icon>fas:users fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Units}">
        <action>SystemUnitList</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Users}">
        <action>SystemUserList</action>
        <icon>fas:user fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Contacts}">
        <action>SystemContactsList</action>
        <icon>far:address-card fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Database explorer}">
        <action>SystemDatabaseExplorer</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Panel}">
        <action>SystemSQLPanel</action>
        <icon>fas:table fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <action>SystemMenuEditor</action>
        <icon>far:edit fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Files diff}">
        <action>SystemFilesDiff</action>
        <icon>fas:file-medical-alt fa-fw</icon>
      </menuitem>
      <menuitem label="PHP Info">
        <action>SystemPHPInfoView</action>
        <icon>fas:info-circle fa-fw</icon>
      </menuitem>
      <menuitem label="System Information">
        <action>SystemInformationView</action>
        <icon>fas:desktop fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Preferences}">
        <action>SystemPreferenceForm#method=onEdit</action>
        <icon>fas:cog fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Documents}">
    <icon>far:file-alt fa-fw</icon>
    <menu>
      <menuitem label="_t{Documents}">
        <action>SystemDriveList</action>
        <icon>fas:box fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Categories}">
        <action>SystemDocumentCategoryFormList</action>
        <icon>fas:th fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Posts}">
    <icon>far:newspaper fa-fw</icon>
    <menu>
      <menuitem label="_t{News management}">
        <action>SystemPostList</action>
        <icon>fas:pen-square fa-fw</icon>
      </menuitem>
      <menuitem label="_t{List news}">
        <action>SystemPostFeedView</action>
        <icon>fas:newspaper fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Wiki">
    <icon>fas:globe fa-fw</icon>
    <menu>
      <menuitem label="_t{Page management}">
        <action>SystemWikiList</action>
        <icon>fab fa fa-fw fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Search pages}">
        <action>SystemWikiSearchList</action>
        <icon>fa fa fa-fw fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logs">
    <icon>fas:desktop fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemLogDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Access Log}">
        <action>SystemAccessLogList</action>
        <icon>fas:key fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Change Log}">
        <action>SystemChangeLogView</action>
        <icon>fas:film fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Log}">
        <action>SystemSqlLogList</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Request Log}">
        <action>SystemRequestLogList</action>
        <icon>fas:globe fa-fw</icon>
      </menuitem>
      <menuitem label="_t{PHP Log}">
        <action>SystemPHPErrorLogView</action>
        <icon>fas:exclamation-triangle fa-fw</icon>
      </menuitem>
      <menuitem label="Session dump">
        <action>SystemSessionDumpView</action>
        <icon>fas:code fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Common pages">
    <menu>
      <menuitem label="Common page 1">
        <action>CommonPage</action>
      </menuitem>
      <menuitem label="Common page 2">
        <action>CommonPage</action>
      </menuitem>
      <menuitem label="Common page 3">
        <action>CommonPage</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <action>LoginForm#method=onLogout#static=1</action>
    <icon>fas:sign-out-alt fa-fw</icon>
  </menuitem>
</menu>
